@model InternetMagazine.Models.EventViewModel

@{
    ViewBag.Title = "Продукт " + @Model.Name;
}

<div class="container body-content">

    @if(Model.ImgUrl != null)
    {
        <img src="@Model.ImgUrl" width="500"/>
    }
    <h2>@Model.Name</h2>
    <p>@Model.Desc</p>

    
</div>



