@model InternetMagazine.Models.ProductViewModel

@{
    ViewBag.Title = "Продукт " + @Model.Name;
}

<div class="container body-content">
    <h2>@Model.Name</h2>
    <p>@Model.Desc</p>

    @using (Html.BeginForm("AddToCart", "Chart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(Model => Model.Id)
            @if (User.Identity.IsAuthenticated)
            {
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            }
           
        </div>
    }
</div>



