
@{
    ViewBag.Title = "MakeOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5 text-center">
    Заказ оформлен!
</h2>
<p class="text-center mb-5">Вы можете вернутся на <a href="/">Главную</a></p>

