*{
    margin:0;
    padding:0;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .2);
}

.bg-white {
    background-color: #fff !important;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
    .nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.body-content{
    margin-top:20px;
}

.pItem{
    padding-top:1rem;
    cursor:pointer;
}

.pItem:hover {
    box-shadow: 0 0 2rem #343a40;
}

.Errors {
    width: 300px;
    position: absolute;
    top: 80px;
    right: 10px;
}
 
footer{
    margin-top:20px;
}