@model  IEnumerable<InternetMagazine.Models.CategoryViewModel>
@{
    ViewBag.Title = "CategoriesViewModel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Список категорий</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название катрегории</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var elem in Model)
        {
            <tr>
                <th scope="row">@elem.Id</th>
                <td class="name">@elem.Name</td>
                <td><span class="operation edit" data-id="@elem.Id"><i class="fa fa-pencil" aria-hidden="true"></i> <t>Изменить</t></span></td>
                <td><span class="operation delete"data-id="@elem.Id"><i class="fa fa-trash-o" aria-hidden="true"></i> <t>Удалить</t></span></td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex flex-row justify-content-end">
    <button class="btn btn-primary add"><i class="fa fa-plus" aria-hidden="true"></i>Добавить категорию</button>
</div>
