@model InternetMagazine.Models.RegistViewModel
@{
    ViewBag.Title = "Account";
}

<h2>@Model.NickName @Model.FirstName @Model.LastName</h2>

<a href="/Auth/Logout" class="btn btn-danger">Выйти</a>

